{{ define "main" }}

<main>
    <div class="block introduction">
        <div class="column left">
            <img src="images/portrait.jpg" class="portrait" alt="Portrait" />
            <div class="links">
                {{- range .Site.Params.links_left -}}
                    <a rel="me" href="{{ .url }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                        <span class="title">{{- .title -}}</span>
                    </a>
                {{- end -}}
            </div>
        </div>
        <div class="column right">
            <h1>Hi there!</h1>
            <h2>I'm {{ .Site.Author.name | default "Hallo" }}.</h2>
            <p>{{- partial "introduction.html" . -}}</p>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
        <div class="column padme">
        </div>
    </div>

    {{- if (fileExists "layouts/partials/content.html") -}}
        <div class="block">
            <div class="column left"></div>
            <div class="column right">
                {{- partial "content.html" . -}}
            </div>
        </div>
    {{- end -}}
</main>

{{ end }}
